window_node_red.txt
[{"id":"3c52c232.8b5d2e","type":"artik_adc","z":"d269bb3.b659c48","name":"ReadSensor","pin":"0","platform":"7","x":470,"y":280,"wires":[["858c07ba.40f5d8"]]},{"id":"70f4979e.82abb8","type":"switch","z":"d269bb3.b659c48","name":"distance","property":"payload[\"Distance\"]","propertyType":"msg","rules..
[{"id":"9ebacb15.183fe8","type":"artik_adc","z":"ebe9a5fd.dd0de8","name":"dust","pin":"0","platform":"7","x":570,"y":203,"wires":[["8ff8dfbb.f15ee"]]},{"id":"b4f12e07.719b4","type":"artik_adc","z":"ebe9a5fd.dd0de8","name":"tempt","pin":"1","platform":"7","x":570,"y":243,"wires":[["95ba300e.b9c5f"]]}..
[{"id":"3c52c232.8b5d2e","type":"artik_adc","z":"d269bb3.b659c48","name":"ReadSensor","pin":"0","platform":"7","x":470,"y":280,"wires":[["858c07ba.40f5d8"]]},{"id":"70f4979e.82abb8","type":"switch","z":"d269bb3.b659c48","name":"distance","property":"payload[\"Distance\"]","propertyType":"msg","rules..